<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="refreshList(true)">
        Refresh
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>High-Risk Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 ion-text *ngIf="this.emptyList == true">The High-Risk List is empty!</h1>
  <ion-list>
  <ion-item-sliding *ngFor="let item of highRiskList; let i = index" nowrap>
    <ion-item>
      <h2>{{ item.name }}</h2>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color='danger' (click)="deleteFromList(i)">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color='primary' (click)="viewItem(item, i)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>
