<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshList()">
        Refresh
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Today's Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="no-scroll">


<ion-list>
  <ion-item-sliding *ngFor="let notification of notificationList; let i = index" nowrap>
    <ion-item (click)="viewNotes($event, notification)">
      <ion-label>
        <h2>Name: {{ notification.item.item.name }}</h2>
        <p>
          UPC: {{ notification.item.item.upc }}
        </p>
        <p>
          Quantity: {{ notification.item.quantity }}
        </p>
      </ion-label>
      <!-- <ion-checkbox item-end></ion-checkbox> -->
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color='danger' (click)="deleteItem(i)">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<!-- Needs to be pretty -->
<h1 ion-text *ngIf="noNotifications">No notifications for today!</h1>


</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchByDate(true)">
        Search
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
