<ion-header>

  <ion-navbar>
    <ion-title>Item Record</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card (click)="editItem()">

  <!-- <ion-card-header>
    <ion-item>
      <h1>{{ item.name }}</h1>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>
  </ion-card-header> -->

  <ion-card-content>
    <!-- Add card content here! -->
    <h1>{{ item.name }}</h1>
    <p>
      UPC: {{ item.upc }}
    </p>
    <p *ngIf="item.isHighRisk">
      High Risk Item
    </p>
    <p>
      (Tap To Edit)
    </p>
  </ion-card-content>

</ion-card>

<ion-row padding>
  <ion-col>
    <button ion-button round block color="yellow" (click)="createNotification()">Create Notification</button>
  </ion-col>
</ion-row>

<ion-row padding>
  <ion-col *ngIf="this.isNotHighRisk">
    <button ion-button round block color="danger" (click)="ToggleHighRisk(true)">Add To High-Risk List</button>
  </ion-col>

  <ion-col *ngIf="this.isHighRisk">
    <button ion-button round block color="green" (click)="ToggleHighRisk(false)">Remove From High-Risk List</button>
  </ion-col>
</ion-row>

<ion-row padding>
  <ion-col>
    <button ion-button round block color="green" (click)="addToShelfHelperList()">Add To Shelf Helper List</button>
  </ion-col>
</ion-row>

<ion-row padding>
  <ion-col>
    <button ion-button round block color="danger" (click)="throwaway()">Throwaway</button>
  </ion-col>
</ion-row>

<ion-row padding>
  <ion-col>
    <button ion-button round block (click)="home()">Home</button>
  </ion-col>
</ion-row>



</ion-content>
